
html, body {margin: 0; height: 100%; overflow-y: scroll; overflow-x:hidden; background-color: #ba9b37;}

html * {
    font-family: 'Arial Narrow', sans-serif !important;
}

#title 
{
    font-size: 70px;
    color:rgba(238, 84, 87);
    margin: 0px 140px;
    width: 800px;
}

#nameFormat 
{
    font-size: 50px;
    color:rgba(238, 84, 87);
    margin: -80px 130px;
    width: 1000px;
}

div.profileInfo {
    background-color: rgba(238, 84, 87);
    border-radius: 10px;
}

div.scroll {
    margin: -340px 25%;
    background-color: #ffffff;
    width: 50%;
    height: 400px;
    overflow-y: scroll;
}

div.buttonThing {
    background-color: #ffffff;
    transition: 0.3s;
    width: 100%;
    height: 85px;
}

.buttonThing:hover {
    background-color: rgb(221, 221, 221);
    cursor: hand;
}

.buttonThing:active {
    transition: 0s;
    background-color: rgb(206, 206, 206);
}

#hiderOpo {
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: -270px 25%;
    width: 51%;
    height: 500px;
}

#hider {
    display: none;
}


#pfp {
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgba(238, 84, 87);
}

#txtsearchformat {
    font-size: 35px;
    margin: -60px 100px;
    color: #f36666;
}


#txtsearchformat3 {
    font-size: 35px;
    margin: 100px 0px;
    color: #ffffff;
    text-align: center;
}

#photo {
    font-size: 20px;
    text-align: center;
    margin: -100px 0px;
    color: #ffffff;
}

#email {
    font-size: 20px;
    text-align: center;
    margin: -100px 0px;
    color: #ffffff;
}

#number {
    font-size: 20px;
    text-align: center;
    margin: -100px 0px;
    color: #ffffff;
}

#address {
    font-size: 20px;
    text-align: center;
    margin: -100px 0px;
    color: #ffffff;
}


#contactsTitle {
    font-size: 90px;
    color:rgba(238, 84, 87);
    text-align: center;
    margin-top: -110px;
}

.buttons6 {
    border-radius: 15px;
    font-size: 23px;
    width: 22%;
    height: 28%;
    margin-left: 17%;
    margin-top: -2000px;
    border: 0;
    padding: 0;
    transition: 0.3s;
    display: inline-block;
    background-color: rgba(238, 84, 87);
    transform: translateY(1800px);

    color: #ffe2bd;
}

#currentPassword {
    font-size: 30px;
    border-radius: 10px;
}

#pfp5 {
    transform: translateX(-75px);
    margin-left: 50%;
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgba(238, 84, 87);
}

#txtsearchformat7 {
    font-size: 35px;
    margin: 50px 0px;
    color: rgb(255, 255, 255);;
    text-align: center;
}

#txtsearchformat6 {
    font-size: 20px;
    margin: 50px 0px;
    transform: translateY(-40px);
    color: rgb(255, 255, 255);;
    text-align: center;
}

#user_photo {
    font-size: 25px;
    margin: 50px 0px;
    transform: translateY(-40px);
    color: rgb(255, 255, 255);;
    text-align: center;
}

#user_login {
    font-size: 25px;
    margin: 50px 0px;
    transform: translateY(-40px);
    color: rgb(255, 255, 255);;
    text-align: center;
}

#user_name {
    font-size: 25px;
    margin: 50px 0px;
    transform: translateY(-40px);
    color: rgb(255, 255, 255);;
    text-align: center;
}




div.profile {
    margin-left: 35%;
    width: 30%;
    background-color: rgba(238, 84, 87);
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 15px;
    transform: translateY(-60px);
}

.buttons6:hover{
    background-color: rgba(124, 87, 247);
    color: #ffffff;
}

.buttons7 {
    border-radius: 15px;
    font-size: 23px;
    width: 22%;
    height: 28%;
    margin-left: 63%;
    margin-top: -2000px;
    border: 0;
    padding: 0;
    transition: 0.3s;
    transform: translateY(1800px);

    background-color: rgba(238, 84, 87);

    color: #ffe2bd;
}

.buttons7:hover{
    background-color: rgba(124, 87, 247);
    color: #ffffff;
}

.buttons8 {
    border-radius: 15px;
    font-size: 23px;
    width: 22%;
    height: 28%;
    margin-left: 40%;
    margin-top: -2000px;
    transform: translateY(1800px);
    
    border: 0;
    padding: 0;
    transition: 0.3s;

    background-color: rgba(238, 84, 87);

    color: #ffe2bd;
}

.buttons8:hover{
    background-color: rgba(124, 87, 247);
    color: #ffffff;
}

#edit_button_state {
    display: block;
}

#edit_button_state3 {
    display: block;
}

#edit_button_state2 {
    display: none;
}

#relationship {
    font-size: 20px;
    text-align: center;
    margin: -100px 0px;
    color: #ffffff;
}

#note {
    font-size: 20px;
    text-align: center;
    margin: -100px 0px;
    color: #ffffff;
}

#txtsearchformat5 {
    font-size: 60px;
    text-align: center;
    margin: -100px 0px;
    color: #ffffff;
}

#pfp2 {
    margin: 5px 5px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 4px solid rgba(238, 84, 87);
}

#pfp3 {
    margin: -570px 30%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid rgba(238, 84, 87);
    transform: translate(40px, 0%);
    display: none;
}

#txtsearchformat2 {
    transform: translate(100px, 0px);
    margin: -600px 30%;
    font-size: 25px;
    color: rgb(0, 0, 0);
    display: none;
}

#List {
    font-size: 25px;
    margin: 30px 10px;
}

#loginDiv
{
    border-radius: 20px;
    font-size: 30px;
    width: 20%;
    margin: auto;
    padding: 25px 25px;
    background-color: #f36666;

}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#contactNameId {
    font-size: 30px;
    border-radius: 10px;
}

#contactPhotoId {
    font-size: 30px;
    border-radius: 10px;
}

#contactEmail {
    font-size: 30px;
    border-radius: 10px;
}

#contactPhoneNumber {
    font-size: 30px;
    border-radius: 10px;
}

#contactAddress {
    font-size: 30px;
    border-radius: 10px;
}

#contactRelationship {
    font-size: 30px;
    border-radius: 10px;
}

#contactNotes {
    font-size: 30px;
    border-radius: 10px;
}

#contactButton {
    border-radius: 10px;
    margin: -120px 35%;
    width: 30%;
}

#image1
{
    
    margin-left: 800px;
    margin-top: -300px;
    width: 800px;
}

.buttons
{
    border-radius: 15px;
    font-size: 25px;
    width: 350px;
    height: 50px;
    margin-left:250px;
    margin-top: 30px;
    border: 0;
    padding: 0;
    transition: 0.3s;
    
    background-color: rgba(238, 84, 87);

    color: #ffe2bd;
}

.buttons2
{
    border-radius: 15px;
    font-size: 25px;
    width: 350px;
    height: 50px;
    margin-left:250px;
    margin-top: 30px;
    border: 0;
    padding: 0;
    transition: 0.3s;
    
    background-color: rgba(249, 215, 196);
    color: rgba(238, 84, 87);
}

.buttons:hover{
    background-color: rgba(124, 87, 247);
    color: #ffffff;
}

.buttons2:hover{
    background-color: rgba(124, 87, 247);
    color: #ffffff;
}

#searchColorButton
{
    margin: -200px 25%;
    border-radius: 0px;
    width: 50%;
}

#addColorButton {

    margin: -190px 25%;
    border-radius: 0px;
    width: 50%;
}

#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#searchText
{
    margin: 50px 25%;
    width: 50%;
	font-size: 30px;
    border-radius: 0px;
    border-radius: 20px;
}
#colorText
{
    margin: -150px 25%;
    width: 50%;
	font-size: 30px;
    border-radius: 0px;
}


input[type="name"],input[type="text"],input[type="password"]{
    transform: translate3D(0%, -150%, 0);
    border-radius: 10px;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 0%;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px 32px;
    border-color: rgb(0, 0, 0);
    background-color: #fff2e2;
    color: #000000;
}

input[type="edit_text"]{

    background-color: #fff2e2;
    color:rgb(0, 0, 0);
    width: 50%;
    margin-left: 0%;
    font-size: 25px;
    border: none;
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#result{
    display: inline-block;
    font-size: 30px;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    transform: translate(0%, -40px);
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 110px;
    margin: 110px 10px;
    border-radius: 100px;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

/*For create.html */
#createName {
    font-size: 30px;
    border-radius: 10px;
}


#createPassword {
    font-size: 30px;
    border-radius: 10px;
}

#nameid {
    font-size: 30px;
    border-radius: 10px;
}

#photoid {
    font-size: 30px;
    border-radius: 10px;
}

#confirmPassword {
    font-size: 30px;
    border-radius: 10px;
}

#createTitle {
    font-size: 90px;
    color:rgba(238, 84, 87);
    /* margin: 0px 200px;
    width: 500px; */
    /* margin: 25px 50px 75px 100px; */
    text-align: center;
    /* margin: -80px 130px; */
}

 #createButton {
    border-radius: 10px;
    margin: -120px 35%;
    width: 30%;
    display: block;
}

#createButton2 {
    border-radius: 10px;
    margin: 60px 35%;
    width: 30%;
    display: block;
}

#edit_button_state10 {
    border-radius: 10px;
    margin: -120px 35%;
    width: 30%;
    display: none;
}

.buttons3
{
    border-radius: 15px;
    font-size: 23px;
    width: 415px;
    height: 50px;
    margin-left: 480px;
    margin-top: -110px;
    border: 0;
    padding: 0;
    transition: 0.3s;
    
    background-color: rgba(238, 84, 87);

    color: #ffe2bd;
}

.buttons3:hover{
    background-color: rgba(124, 87, 247);
    color: #ffffff;
}

#loginTitle {
    font-size: 90px;
    color:rgb(0, 0, 0);
    text-align: center;
}

.buttons4
{
    border-radius: 15px;
    font-size: 23px;
    width: 30%;
    height: 50px;
    margin-left: 35%;
    margin-top: -110px;
    border: 0;
    padding: 0;
    transition: 0.3s;
    
    background-color: rgb(0, 0, 0);

    color: #ffffff;
}

.buttons4:hover{
    background-color: #ffc904;
    color: #ffffff;
}

.buttons9
{
    border-radius: 0px;
    font-size: 23px;
    width: 100%;
    height: 50px;
    border: 0;
    padding: 0;

    margin-top: 200px;
    margin-left: 0px;
    transition: 0.3s;
    
    background-color: rgb(246, 110, 112);
    

    color: #ffe2bd;
    
}

.buttons9:hover{
    background-color: rgba(124, 87, 247);
    color: #ffffff;
}

.buttons15
{
    border-radius: 0px;
    font-size: 23px;
    width: 100%;
    height: 50px;
    border: 0;
    padding: 0;

    margin-left: 0px;
    transition: 0.3s;
    
    background-color: rgb(246, 110, 112);

    color: #ffe2bd;
    
}

.buttons15:hover{
    background-color: rgba(124, 87, 247);
    color: #ffffff;
}

.buttons5
{
    border-radius: 0px;
    font-size: 23px;
    width: 70px;
    height: 50px;
    border: 0;
    padding: 0;

    margin-top: 0px;
    margin-left: 0px;
    transition: 0.3s;
    
    background-color: rgb(246, 110, 112);

    color: #ffe2bd;
    
}

.buttons5:hover{
    background-color: rgba(124, 87, 247);
    color: #ffffff;
}

.buttons11
{

    border-radius: 10px;
    font-size: 40px;
    width: 100px;
    height: 100px;
    border: 0;
    padding: 0;
    margin-top: -620px;
    margin-left: 90%;
    transition: 0.3s;
    
    background-color: rgb(241, 110, 112);

    color: #ffe2bd;
    
}

.buttons11:hover{
    background-color: rgba(124, 87, 247);
    color: #ffffff;
}

.buttons20
{

    border-radius: 10px;
    font-size: 40px;
    width: 100px;
    height: 100px;
    border: 0;
    padding: 0;
    margin-top: -620px;
    margin-left: 90%;
    transition: 0.3s;
    transform: translateY(-75px);
    background-color: rgb(241, 110, 112);

    color: #ffe2bd;
    
}

.buttons20:hover{
    background-color: rgba(124, 87, 247);
    color: #ffffff;
}

.buttons12
{

    border-radius: 10px;
    font-size: 40px;
    width: 100px;
    height: 100px;
    border: 0;
    padding: 0;
    margin-top: -990px;
    margin-left: 90%;
    transition: 0.3s;
    
    background-color: rgb(241, 110, 112);

    color: #ffe2bd;
    
}

.buttons12:hover{
    background-color: rgba(124, 87, 247);
    color: #ffffff;
}


.buttons13
{

    border-radius: 10px;
    font-size: 40px;
    width: 100px;
    height: 100px;
    border: 0;
    padding: 0;
    margin-top: -950px;
    margin-left: 90%;
    transition: 0.3s;
    
    background-color: rgb(241, 110, 112);

    color: #ffe2bd;
    
}

.buttons13:hover{
    background-color: rgba(124, 87, 247);
    color: #ffffff;
}


#divPopUp {
    font-size: 50px;
    background-color: rgba(238, 84, 87);
    border-radius: 10px;
    display: none;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 766px 25%;

    width: 50%;
    height: 540px;
}
