
html, body {margin: 0; height: 100%; overflow-y: scroll; overflow-x:hidden; background-color: #ba9b37;}

html * {
    font-family: 'Arial Narrow', sans-serif !important;
}


#nameFormat 
{
    font-size: 50px;
    color:rgba(238, 84, 87);
    margin: -80px 130px;
    width: 1000px;
}

input[type="name"],input[type="text"],input[type="password"]{
    border-style:solid;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 0%;
    font-family: 'Ubuntu', sans-serif;
    border-color: rgb(0, 0, 0);
    background-color: #fff2e2;
    color: #000000;
}

input[type="edit_text"]{

    background-color: #fff2e2;
    color:rgb(0, 0, 0);
    width: 50%;
    margin-left: 0%;
    font-size: 25px;
    border: none;
}
.resdiv{
    text-align: center;
}
.result{
    font-size: 15px;
    width: 40%;
    display:inline-block;
    margin:10px 10px 0 0 ;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}


.title {
    font-size: 60px;
    color:rgb(0, 0, 0);
    text-align: center; 
}

.buttons4
{
    border-radius: 15px;
    font-size: 23px;
    width: 30%;
    height:50px;
    margin: 0 auto;
    display:block;
    border: 0;
    padding: 0;
    transition: 0.3s;
    
    background-color: rgb(0, 0, 0);

    color: #ffffff;
}

.buttons4:hover{
    background-color: #ffc904;
    color: #ffffff;
}
