
html {margin: 0; height: 100%; overflow-y: scroll; overflow-x:hidden; background-color: #323237;}
body {overflow-y:hidden}
html * {
    font-family: 'Arial Narrow', sans-serif !important;
}
textarea{
    resize:none
}

#nameFormat 
{
    font-size: 50px;
    color:rgba(238, 84, 87);
    margin: -80px 130px;
    width: 1000px;
}

input[type="name"],input[type="text"],input[type="password"]{
    border-style:solid;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 0%;
    font-family: 'Ubuntu', sans-serif;
    border-color: rgb(0, 0, 0);
    background-color: #fff2e2;
    color: #000000;
}

input[type="edit_text"]{

    background-color: #fff2e2;
    color:rgb(0, 0, 0);
    width: 50%;
    margin-left: 0%;
    font-size: 25px;
    border: none;
}
.resdiv{
    text-align: center;
}
.result{
    font-size: 15px;
    width: 40%;
    display:inline-block;
    margin:10px 10px 0 0 ;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}
.indcomment{
    width:50%;
    padding:1px;
    background-color: #c2c2c2;
    border-radius: 4px;
    margin: 10 auto;
}
td {
    text-align: center;
}
.title {
    font-size: 60px;
    color:#BA9B37;
    text-align: center;
}
.viewTable{
    border:5px solid #000000;
    margin: auto;
    table-layout:fixed;
    width:75%;
    background-color: #F5F4F3;
}
.viewButton{
    background-color: #000000; /* Green */
    color: white;
    border: none;
    padding: 10px 32px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    margin:auto;
}
.submit {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 32px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin: 0 auto;
}
.closeButton{
    background-color: #000000; /* Green */
    color: white;
    border: none;
    padding: 10px 32px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    position:absolute;
    margin-left:-50px;
    left:50%;
    width:100px;
    top:90%;
}
.modal-container{
    background-color: rgba(0,0,0,.3);
    display:flex;
    text-align: center;
    justify-content: center;
    position:fixed;
    height: 100vh;
    width: 100%;
    top:0;
    left:0;
    opacity: 0;
    pointer-events: none;
}
.modal-container.show{
    opacity: 1;
    pointer-events: auto;
}
.modal {
    background-color: white;
    opacity: 1;
    position: fixed;
    width:90%;
    height:90%;
    border-radius: 25px;
    text-align: center;
}
#left{
    height:100%;
    width:50%;
    text-align:center;
    top:40%;
    float:left;
    overflow-y:auto;
}
#right{
    height:50%;
    width:50%;
    text-align:center;
    top:60%;
    float:left;
    overflow-y:auto;
}
#bright{
    height: 40%;
    width:50%;
    text-align:center;
    top:50%;
    float:right;
    overflow-y:auto;
}

.buttons
{
    border-radius: 15px;
    font-size: 23px;
    width: 10%;
    height:50px;
    margin: 0 auto;
    display:block;
    border: 0;
    padding: 0;
    transition: 0.3s;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.buttons:hover{
    background-color: #BA9B37;
    color: #ffffff
}
.buttons
{
    border-radius: 15px;
    font-size: 23px;
    width: 10%;
    height:50px;
    margin: 0 auto;
    display:block;
    border: 0;
    padding: 0;
    transition: 0.3s;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.buttons:hover{
    background-color: #BA9B37;
    color: #ffffff
}

.buttons4
{
    border-radius: 15px;
    font-size: 23px;
    width: 30%;
    height:50px;
    margin: 0 auto;
    display:block;
    border: 0;
    padding: 0;
    transition: 0.3s;
    
    background-color: rgb(0, 0, 0);

    color: #ffffff;
}

.buttons4:hover{
    background-color: #BA9B37;
    color: #ffffff;
}

/* Add a background color to the top navigation */
.topnav {
    background-color: #1d1d1e;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #BA9B37;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #BA9B37;
    color: #1d1d1e;
  }
